<h1>************GAME************</h1>
<h2>Grid :  <%= @grid %></h2>

<h2>your turn</h2>
<form action="/score">
 <label for="question">choise</label>
 <input type="text" id="question" name="input" placeholder="write here">
 <input type="hidden" name="start_time" value="<%= @start_time %>">
 <input type="submit" value="Click">
</form>
